APP_ENV=development

# DB credentials (these can be overridden at runtime)
DATABASE_USERNAME=brkmn_development
DATABASE_PASSWORD=so_wow_much_secure
DATABASE_DB_NAME=brkmn_development
DATABASE_HOST=db
DATABASE_PORT=5432

# Rails
RAILS_ENV=development
SECRET_KEY_BASE=125f58a21a6c72b165a8c84c6660a2b16cadd8f9894cdfd3d07ab266e09e9ae26e8346b14afe781148d6115980aeb1e1fb59833ae0d9512f12e2aef06e046d27

# CAS auth
DEVISE_AUTH_TYPE=db
CAS_DATA_DIRECTORY=/app/tmp
DEVISE_CAS_AUTH_URL=db
DEVISE_CAS_AUTH_SERVICE_PATH=/users/service

# SAML auth
DEVISE_SAML_BASE_URL=http://127.0.0.1:3000
DEVISE_SAML_ASSERTION_CONSUMER_SERVICE_URL=
DEVISE_SAML_SP_ENTITY_ID=
DEVISE_SAML_IDP_ENTITY_ID=
DEVISE_SAML_IDP_SSO_SERVICE_URL=
DEVISE_SAML_IDP_SLO_SERVICE_URL=
DEVISE_SAML_SIGN_OUT_SUCCESS_URL=
DEVISE_SAML_IDP_CERT=
DEVISE_SAML_IDP_CERT_FINGERPRINT=
DEVISE_SAML_IDP_CERT_FINGERPRINT_ALGORITHM=http://www.w3.org/2001/04/xmlenc#sha256
DEVISE_SAML_DEFAULT_USER_KEY=email
DEVISE_SAML_EMAIL_ATTRIBUTE=email,mail
DEVISE_SAML_USERNAME_ATTRIBUTE=username,uid
DEVISE_SAML_DISPLAY_NAME_ATTRIBUTE=displayName,name
DEVISE_SAML_MEMBER_OF_ATTRIBUTE=memberOf
DEVISE_SAML_REQUIRED_MEMBER_OF=
DEVISE_SAML_USE_SUBJECT=false
DEVISE_SAML_VALIDATE_IN_RESPONSE_TO=false
DEVISE_SAML_ALLOWED_CLOCK_DRIFT=0

# SMTP settings
SMTP_ADDRESS=
SMTP_PORT=
SMTP_DOMAIN=
SMTP_USERNAME=
SMTP_PASSWORD=

# Rails specific
RAILS_ENV=development
RAILS_DISABLE_SSL=true
RAILS_LOG_LEVEL=error
