<%= render partial: 'shared/add_url' %>

<hr>

<turbo-frame id="my_urls_frame" data-turbo-action="advance">
  <div id="my_urls" data-controller="urls-table">
    <h4 class="is-size-4">
      <div>My URLs</div>
    </h4>

    <div class="urls-table-wrapper">
      <% if @my_urls.present? %>
        <%= render 'shared/url_list', urls: @my_urls, page_param: :my_page %>
      <% else %>
        <div class="notification">
          There are no URLs to display.
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>

<hr>

<turbo-frame id="not_my_urls_frame" data-turbo-action="advance">
  <div id="not_my_urls" data-controller="urls-table">
    <h4 class="is-size-4">
      <div>All URLs</div>
    </h4>

    <div class="urls-table-wrapper">
      <% if @not_my_urls.present? %>
        <%= render 'shared/url_list', urls: @not_my_urls, page_param: :others_page %>
      <% else %>
        <div class="notification">
          There are no URLs to display.
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>
