= render :partial => 'shared/add_url'
= render :partial => 'shared/search'
- if @my_urls.present?
  #my_urls
    %div{:class => 'urls-table-wrapper'}
      = render 'shared/url_list', urls: @my_urls, page_param: :my_page, table_title: 'My URLs'
- if @not_my_urls.present?
  #not_my_urls
    %div{:class => 'urls-table-wrapper'}
      = render 'shared/url_list', urls: @not_my_urls, page_param: :others_page, table_title: 'Others\' URLs'
