<%= render partial: 'shared/add_url' %>
<%= render partial: 'shared/search' %>

<% if @my_urls.present? %>
  <div id="my_urls" data-controller="urls-table">
    <h4 class="is-size-4">My URLs</h4>

    <div class="urls-table-wrapper">
      <%= render 'shared/url_list', urls: @my_urls, page_param: :my_page %>
    </div>
  </div>
<% end %>

<% if @not_my_urls.present? %>
  <div id="not_my_urls" data-controller="urls-table">
    <h4 class="is-size-4">All URLs</h4>

    <div class="urls-table-wrapper">
      <%= render 'shared/url_list', urls: @not_my_urls, page_param: :others_page %>
    </div>
  </div>
<% end %>
