%table
  %tr{:id => 'filters'}
    %td{:colspan => 3}
      %label{:for => 'filter'} Search:
      %input{:type => 'text', :name => 'filter', :id => 'filter', :value => params[:filter]}
      %input{:type => 'submit', :id => 'apply_filter', :value => 'go'}
      %input{:type => 'submit', :id => 'clear_filter', :value => 'reset'}
  %tr
    %td{:colspan => 2, :class => "top_pagination"}
      = will_paginate @urls
    %td{:id => 'filter_control'} 
      %span Hide Filter
  = render :partial => 'urls/url_list', :collection => @urls
  %tr
    %td{:colspan => 3, :class => "bottom_pagination"}
      = will_paginate @urls
