/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

html{
  min-height: 100%;
}

body{
  background-image: linear-gradient(bottom, #000 0%, rgb(140,0,2) 100%);
  background-image: -o-linear-gradient(bottom, #000 0%, rgb(140,0,2) 100%);
  background-image: -moz-linear-gradient(bottom, #000 0%, rgb(140,0,2) 100%);
  background-image: -webkit-linear-gradient(bottom, #000 0%, rgb(140,0,2) 100%);
  background-image: -ms-linear-gradient(bottom, #000 0%,rgb(140,0,2)  100%);
  font-family: verdana;
  font-size: 12px;
}

a{
  color: darkred;
}

a:hover{
  color: black;
}

.wrapper{
  width: 900px;
  margin: 0px auto;
  background-color: #e4e4e4;
  padding: 10px;
  border-radius: 20px;
  border: 10px solid black;
}


h1{
  margin: 0px;
  padding: 10px;
  color: white;
  background-color:black;
  margin: -10px -10px 0px -10px;
  font-size: 36px;
  letter-spacing: -2px;
  font-family: times;
  font-weight:normal;
}

legend{
  font-size: 1.5em;
  padding: 5px;
}

.messages{
  margin: 5px;
  padding: 5px;
}

.error{
  font-size: 1.1em;
  font-weight: bold;
  color: darkred;
}

#url_to{
  font-size: 1.5em;
  width: 85%;
  font-weight: bold;
  padding: 5px;
}

.mine td{
  background-color: #fff;
}

#submit, #apply_filter, #clear_filter, #filter_control span{
  color: darkred;
  padding: 5px 10px 5px 10px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #aaa;
  border-radius: 5px;
}

#apply_filter, #clear_filter, #filter_control span{
  font-size: 1.1em;
}

#filter_control span {
  display: inline-block;
  margin-bottom: 5px;
}

#filter_control{
  border: 1px #ccc;
  border-style: none none dotted none;
  text-align: right;
}

.save{
  color: darkred;
  padding: 5px 10px 5px 10px;
  font-size: 1.0em;
  font-weight: bold;
  background-color: #aaa;
  border-radius: 5px;
}

.search_button{
  color: darkred;
  padding: 5px 10px 5px 10px;
  font-size: 1.0em;
  font-weight: bold;
  background-color: #aaa;
  border-radius: 5px;
}

.owners{
  border: 1px #ccc;
  border-style: none none dotted none;
  padding-bottom: 4px;
  margin-bottom: 4px;
  text-align: left;
}

.pagination{
  display:inline;
  text-align: left;
}

.top_pagination, .bottom_pagination{
  border: 1px #ccc;
  text-align: right;
}

.top_pagination{
  border-style: none none dotted none;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.bottom_pagination{
  border-style: dotted none none none;
  padding-top: 4px;
  margin-top: 4px;
}

table{
  width: 100%;
}

tr {
  &:hover {
    background-color: #fff;
  }
}

td{
  padding: 5px;
  word-break: break-all;

  img {
    max-height: 15px;
    vertical-align: middle;
  }
}

.shortened{
  width: 30%;
}

.arrow{
  width: 5%;
  font-size: 2em;
  line-height: 1em;
  text-align: center;
}

.to{
  width: 45%;
}

.clicks{
  width: 10%;
}

.hilite{
  background-color: LightYellow;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

th{
  text-align: left;
}

#filters td{
  text-align: right;
}

#submit:hover, #submit:focus{
  background-color: #e4e4e4;
}

#url_shortened{
  width: 25%;
}
#loader {
  background: image-url("load.gif") center center no-repeat;
  display:block;
  height:20px;
  margin:auto;
  margin-top:10px;
  background-color:#FFF;
  border: 1px solid #333;
  webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width:50px;
}
footer{
  font-size: .75em;
  color: #ccc;
  width: 900px;
  margin: 10px auto 0px auto;
  text-align: right;
}

footer a.bookmarklet{
  text-decoration: none;
}

footer a.bookmarklet:hover{
  color: darkred;
  text-decoration: underline;
}

#notice, #warning {
  background: rgb(140,0,2);
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 1em 0 0 0;
  padding: 4px;
  color: white;
  text-align: center;
}

#error {
  background-color: red;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 1em 0 0 0;
  padding: 4px;
  color: white;
  text-align: center;
}

form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}

input.text {
  margin: 0em 0 1em 0;
  padding: 5px;
}

.link {
  margin: 0em 0.25em;
}

.edit {
  margin: 0em 0.25em;
}

.search{
  padding-bottom: 4px;
  margin-bottom: 4px;
  text-align: right;
  color: darkred;
  font-size: 1.0em;
  font-weight: bold;
}

th .current {
  padding-right: 24px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: image-url("up_arrow.png");
}

th .desc {
  background-image: image-url("down_arrow.png");
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin-bottom: 0;
}

.error_messages li {
  margin: 0px 10px;
}
