body.viewing-mode-classic {
  background-image: linear-gradient(to top, #000 0%, #8c0002 100%);

  @mixin header {
    h4 {
      background-color: #000;
      color: #fff;
    }
  }

  > .wrapper {
    background-color: #000;
  }

  .header-items,
  .header-logo-link,
  footer {
    color: #fff;

    a {
      color: #fff;
    }

    img {
      background-color: #fff;
      border-radius: 1rem;
    }
  }

  h1.site-title {
    max-height: unset;
  
    img {
      max-height: unset;
    }
  }

  .header-logo-image {
    padding: 0.5rem;
    height: 4rem;
    display: block;
  }

  .add-form,
  .edit-form,
  #my_urls,
  #not_my_urls {
    @include header;
  }

  hr {
   background-color: #666666;
  }
}
