#notice,
#warning,
#error,
#alert,
#error_explanation {
  margin: 1rem 0;
  padding: 4px;
  color: white;
  text-align: center;
  @include rounded-corners(0.5rem);
}

#notice {
  background-color: map-get($colors, secondary);
}

#warning {
  background-color: #f90;
}

#alert,
#error,
#error_explanation {
  background-color: map-get($colors, error);
}
