.header-items-item-search {
  position: relative;

  > a {
    display: flex;
    align-items: center;
  }

  .search {
    position: absolute;
    width: 330px;
    top: -10px;
    left: -350px;
    z-index: 100;
    padding: 0.5rem;
    background-color: map-get($colors, light-blue);
    transform: translateX(50%);
    transition: transform 0.3s ease, opacity 0.5s ease, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    @include rounded-corners;
    @include box-shadow;

    @media (max-width: 700px) {
      top: 120%;
      left: -20%;
      right: 0;
      margin: 0 auto;
    }

    a {
      color: #000000 !important;
    }

    .search-form {
      display: flex;
      align-items: end;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      > div {
        max-width: 100%;
      }

      #search {
        width: 180px;
        max-width: 100%;
      }
    }
  }
}

.header-items-item-search-active {
  &.search {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
