$colors: (
  primary: #890309,
  primary-light: #f0e7e7,
  secondary: #005fa3,
  light-bg: #f4f4f9,
  light-border: #ddd,
  light-grey: #fcf8f8,
  light-blue: #f0f4f9,
  text: #333,
  error: #CF0000,
);

$fonts: (
  body: ('Verdana', sans-serif),
);
